.select {
  color: black;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: 'Noto Sans TC', sans-serif;
}
.select {
  display: flex;
  gap: 20px;
}

.citywidth {
  width: 245px;
}
.areawidth {
  width: 300px;
}

@media (max-width: 767px) {
  .citywidth,
  .areawidth {
    width: 100%;
    margin: 0 auto;
  }

  .select {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
