.select {
  color: black;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: 'Noto Sans TC', sans-serif;
}
.select {
  display: flex;
  gap: 20px;
}

.citywidth {
  width: 245px;
}
.areawidth {
  width: 300px;
}

@media (max-width: 767px) {
  .citywidth,
  .areawidth {
    width: 100%; /* 或設定一個固定的寬度，如360px */
    margin: 0 auto; /* 加上這行實現水平置中 */
  }

  .select {
    flex-direction: column;
    justify-content: center; /* 確保水平置中 */
    align-items: center; /* 確保垂直置中 */
  }
}
