.select {
  //   color: #b5cc22;
  color: black;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: 'Noto Sans TC', sans-serif;
}

.citywidth {
  width: 245px;
}
.areawidth {
  width: 300px;
}
